#mainmenu {
  padding-left: 0px;
}
#mainmenu li{
  list-style-type : none;
  display : inline;
  padding-right : 30px;
}
#mainmenu li, .menus > a{
  color : white;
  text-decoration : none;
}
#mainmenu > ul{
  margin-bottom : 7px;
}
#mainmenu li:hover{
  text-decoration: underline;
}
