.subbmenu {
  display: inline-block;
  float: left;
  width : 280px;
  height : 100%;
  padding-right: 16px;
  border-style : inset;
  background : lightyellow;
}
.subbmenu > .li > ul{
  list-style-type : none;
}
.subbmenu > ul > .li > li{
  margin-bottom : 12px;
}
.subbmenu > ul > .li > li > a{
  text-decoration : none;
  color : black;
}
.subbmenu > ul >  .li > li :hover{
  background-color : white;
  border-radius : 20px;
  color : blue;
  padding : 10px 10px;
}
